.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;        
}
#One {
    display: flex;
    width: 32%;
    /* width: auto; */
    float: left;
}
#Two {
    display: flex;
    width: 32%;
    /* width: auto; */
    float: left;
}
#Three {
    display: flex;
    width: 32%;
    /* width: auto; */
    float: right;
    margin-right: 3%;
}
.hg1 {
    display: flex;
    width: 35%;
    float: left;
}
.hateGrCon {
    display: inline-flexbox;
    width: 25%;
    float: left;
    margin-top: 11.5%;
    /* padding-right: 5%; */
}
.hateGrCon1 {
    display: inline-flexbox;
    width: 25%;
    float: left;
    margin-left: 7%;
    margin-top: 12%;
    /* padding-left: 5%; */
}

.hg2 {
    display: block;
    width: 120%;
    margin-bottom: 1.5%;
    /* margin-bottom: 1%; */
    /* float: left; */
}
.hg3 {
    display: block;
    width: 120%;

    /* float: left; */
}
.hg4 {
    display: block;
    width: 120%;
    /* float: right; */
}
.hg5 {
    display: block;
    width: 120%;
    /* float: right; */
}

}