body {
    color: gray !important;
}
.top {
    width:100%;
    position: absolute;
    display: block;
}
.background:before {
    margin-left: 2%;
    margin-right: 2%;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background-image: url('docs/back4.jpg');
    background-repeat: no-repeat no-repeat;
    background-size: 100%;
    width: 96%;
    background-blend-mode: lighten;
    /* background-position-x: 40%;
    background-position-y: -50%; */
    overflow: auto;
    opacity: 0.8;
}
.layer {
    margin-top: 25%;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: white;
    background-position-x: 70%;
    /* overflow: auto; */
    opacity: .9;
    }
.topbar {
    margin-top: 27%;
    position: sticky;
}
.main {
    height: 950px;
}
/* .navbar-nav {
    margin-right: 0 !important;
    float: left;
    margin-left: 65% !important;
} */
.bg-dark {
    background-color:  rgb(247, 92, 20);;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color:  rgb(247, 92, 20) !important;
}
body{
    /* position: relative; */
    /* display: block; */
    /* height: 1000px; */
    margin-top: 25%;
    overflow-y: scroll;
    background-color: white;
    /* padding-top: 5%; */
  }
  .body2{
    /* position: relative; */
    /* display: block; */
    /* height: 1000px; */
    margin-top: 27%;
    overflow-y: scroll;
    background-color: white;
    /* padding-top: 5%; */
  }
.navbar{
    position: sticky;
    /* margin-bottom: 3%; */
    padding: 0rem .5rem;
    /* top: 5%; */
}
.navbar2 {
    position: fixed;
}
a:link {
    color:rgb(44, 44, 44);
    text-decoration: none;
}
a:visited {
    color:rgb(44, 44, 44);
    text-decoration: none;
}
a:hover {
    color: rgb(247, 92, 20);
    text-decoration: underline;
}
@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    }
    .nav-item {
        display: inline !important;
    }
    .navbar-expand-lg .navbar-nav {
        display: -ms-inline-flexbox !important;
        float: right;
    }
    .navbar-nav {
        margin-right: 0 !important;
        float: left;
        margin-left: 55% !important;
    }
    .imlnk {
        width: 90%;
        margin-top: 35%;
    }
    .imlnk1 {
        width: 140%;
        margin-top: 20%;
    }
    /* .order-2 {
        margin-top: 22%;
    } */
    .order-md-1 {
        margin-top: -22%;
    }
    .container2 {
        width: 50%;
        float: right;
        margin-top: -18%;
    }
    .questions {
        margin-top: 20%;
        /* float: left !important;
        padding-right: 2%; */
    }
    .container3 {
        margin-top: 35%;
    }
}
ul {
    margin: 0 !important;
}
.nav>li {
    float: left;
}
.why {
    margin-top: 5%;
    float: left !important;
    padding-right: 2%;
}

.row {
    float: left;
    width: 100%;
}
.ms {
    color:  rgb(247, 92, 20);
}
.container {
    background-color: white;
}
.About {
    margin: 3%;
    color: white;
    background-color:rgb(177, 175, 175);
    padding-top: 3%;
    padding-bottom: 3%;
    /* margin-top: 5%; */
}

@media (max-width: 992px) {
    .main {
        height: 3100px;
        margin-top: 8%;
    }
    .navbar-nav {
        margin-right: 0 !important;
        float: left;
        /* margin-left: 65% !important; */
    }
    body {
        font-size: 2rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    .navbar {
        padding: .5rem 1rem;
    }
    .navbar-brand {
        font-size: 3rem;
    }
    .navbar-toggler-icon {
        width: 5rem;
        height: 5rem;
    }
    .nav-link {
        font-size: 3rem;
        text-align: left;
    }
    .dropdown-item {
        font-size: 3rem;
        color: white;
        background-color: rgb(247, 92, 20);
        font-weight: 400;
    }
    .dropdown-menu {
        padding: 0rem;
    }
    .imlnk {
        width: 80%;
        margin-top: 35%;
    }
    .imlnk1 {
        width: 100%;
        margin-top: 30%;
    }
    .container2 {
        width: 75%;
        position: center center;
        margin-top: 3%;
        margin-left: 15%;
    }
    .col-12 {
        max-width: 100%;
        padding: 0%;
    }
    .row {
        max-width: 100%;
    }
    .container3 {
        margin-top: 35%;
        margin-bottom: 15%;
    }
}
@media (min-width: 1205px) {
    .navbar-nav {
        margin-right: 0 !important;
        float: left;
        margin-left: 65% !important;
    }
    .container {
        max-width: 2600px;
        margin-left: 3%;
    }
    .order-md-1 {
        margin-top: -13%;
    }
    .container2 {
        width: 45%;
        float: right;
        margin-top: -3%;
        margin-right: 3%;
    }
    .container3 {
        margin-top: 5%;
    }
}

.container3 {
    position: relative;
    width: 90%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .image2 {
    display: block;
    width: 98%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  
  .container3:hover .overlay {
    opacity: 1;
  }
  
  .im {
    position: relative;
    top: 50%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
  }